@import 'https://fonts.googleapis.com/css?family=Raleway:300,500,900';


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

button {
    border:none;
    background: transparent;
}

h1 {
	font-size: 20px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

a {
    text-decoration: none;
}

label {
	font-weight: 300 !important;
	margin-bottom: 0 !important;
}

		
#app_header {
    display: block;
    position:fixed;
    top:0;
    width:100%;
    height:65px;
    background:#777;
    text-align: center;
    box-shadow: 0 0 5px #444;
	z-index: 10;
}

.back{
	position: fixed;
	left:10px;
}

#app_header button{
    background: transparent;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    font-size: 30px;
	margin: 7px 0 0 0;
    color:white;
    border: 1px lightblue solid;
	width: 45px;
    border-radius: 4px;
	padding: 2px;
}

.add-list-block button {
     font-family: 'Raleway',sans-serif;
	color:#8d99ae;
    font-size: 13px;
    margin: 5px;
    padding: 10px;
	width:auto;
	line-height: 15px;
    letter-spacing: 1px;
    border: 2px #ccc solid;
    border-radius: 10px;
	font-weight: 300;
}

.add-list-block label {
    color:#8d99ae;
}

.list-name-header{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    margin: 0px;
	font-size: 20px !important;
    background: none;
}

.list-creator {
    font-family: 'Raleway',sans-serif;
    letter-spacing: 1px;
	margin: 10px;
	font-weight: 500;
}

.list-creator #listName {
    height: 24px;
    width: 150px;
	border-radius: 10px;
    text-align: center;
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
	font-weight: 500;
}

#listName:focus {
	outline: none;
}

.list-collection-block {
    margin: 5px;
    padding:5px;
    border-top:  2px solid #8d99ae;
    border-bottom: 2px solid #8d99ae;
	font-family: 'Raleway',sans-serif;
	line-height: normal;
	color: #464a53;
	overflow-y: scroll;
}

.list-collection-block-short{
	height: 110px;
}

.list-block {
    margin: 0 5px 0 5px;
    border-top:  2px solid #ccc;
    border-bottom: 2px solid #ccc;
	font-weight: 500;	
	font-size: 12px;
}

.select {
	color: #999;
}

.delete {
	color: #999;
}

.list-drugs {
    word-wrap: normal;
	white-space: normal;
}

.list-info-block{
    letter-spacing: 1px;
    display:none;
    padding: 3px;
    color: #8d99ae;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

#app_content {
    display:block;
    position:fixed;
    height:625px;
    width:100vw;
    text-align: center;
    margin-top:70px;
	margin-bottom: 50px;
	overflow-y: hidden;
	overflow-x: hidden;
}

.red {
	background: #ff3333;
	color:white;
}

.play {
	text-align: center;
	position: fixed;
	bottom:0;
	width: 100%;
	height:50px;
	background-color: #ff3333;
	color:white;
	font-family: 'Raleway',sans-serif;
	font-size: 30px;
	letter-spacing: 5px;
	padding: 5px;
	z-index: 25;
	font-weight: 900;
	box-shadow: 0 0 5px #444;
}

/**********CREATOR************/
.form-group input {
	margin-bottom: 20px;
}

.list-creator button {
    font-family: 'Raleway',sans-serif;
	color:#8d99ae;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    letter-spacing: 1px;
    border: 2px #ccc solid;
    border-radius: 5px;
	font-weight: 500;
	position: fixed;
	bottom: 53px;
	display: block;
	left: 40%;
	z-index: 20;
}

.searchable-container label.drug_name{
	border:1px solid #efefef;
	margin:8px; 
	box-shadow:2px 4px 4px 0 #ccc;
	font-size: 12px;
	width: 150px;
	color:#8d99ae;
	line-height: 12px;
	width:90%; 
	text-align: center; 
	max-width: 145px;
	word-wrap: break-word;
	white-space: normal;
	vertical-align: middle;
	padding: 10px;
}

input[type=checkbox]{
    display:none; !important
}

.checkboxes input[type=checkbox]:checked + .drug_name {
    background-color: #ff3333; !important
	color: white !important;
	box-shadow:2px 4px 4px 0 #ccc;
	font-size: 12px;
	width: 150px;
	border:1px solid #efefef;
	border-radius: 5px;
}

.drug-container .row {
    height: 25%;
    width: 100%;
    overflow-y: scroll;
    overflow-wrap: normal;
    border: solid aliceblue 2px;
	padding: 5px 0px 10px 0;
	margin: auto;
}