@import 'https://fonts.googleapis.com/css?family=Raleway:300,500,900';

button.btnBlue  {
    background: #3071A9;
    color:white;
    font-family: 'Raleway'; 
    font-weight: 600;
    font-size: 12px;
    width:100%;
   	height: 19vh; 
    text-align: center;   
  	border-radius: 2px;
  	text-overflow: ellipsis;
    white-space: initial;
    word-wrap: break-word;
    transition: all 0.3s ease 0s;
    border-radius: 20px;
}


/* 

body {
	background-image: url('completed.png');
/* 	background-repeat: no-repeat; */
}



p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 2px;

}

p#donedone {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    color: #2ECC71;
    margin-top: 20vh;

}

.shine {
    position: absolute;
    top: -70px;
    left: -25px;
    width:100px;
    height:100px;
    border-radius: 50px;

    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 150%); /* Chrome10+,Safari5.1+ */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 150%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1.5)), color-stop(100%,rgba(255,255,255,0))); /*     Chrome,Safari4+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 150%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 150%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 150%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/******Header********/	
#app_header {
    display: block;
    position:fixed;
    top:0;
    width:100%;
    height:65px;
    background:#777;
    text-align: center;
    box-shadow: 0 0 5px #444;
    z-index: 10;
}

#app_header button.back {
    position: fixed;
    left: 10px;
    font-size: 16px;
    border: 0;
    background: #606060;
    height: 40px;
    margin-top: 13px;
    width: 60px;
}

#app_header button{
    background: transparent;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    font-size: 30px;
	margin: 7px 0 0 0;
    color:white;
    border: 1px lightblue solid;
	width: 45px;
    border-radius: 4px;
	padding: 2px;
}
/******Header END********/

.columns {
  columns: 3;
}

.highlight {
  background: yellow;
}


.active{background-color:red;}

.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  transition: all linear 0.5s;
  top:-200px;
  left: 200px;
}
.animate-hide {

  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}

/**Inside the app header***/
#tryagain {
	/**margin-left:10vh; **/
	font-size:20px; 
	border: 5px solid lightgray; 
	background-color: #0099ff; 
	height: 6vh; 
	width: 17vh;
}

#new_round {
	width: 100%;
  height: 50px;
  background-color: #ff3333;
  color: white;
  font-weight: 900;
  box-shadow: 0 0 5px #444;
}

.home{
	position: relative;
	z-index: 20;
}

/**Inside the app header END***/

#app_content {
  min-height: 90%;
  margin-top: 65px;
  overflow-y: auto;
  padding-top: 0px;
  background-color: #ABB7B7;

}

#app_body {
  padding-top: 5px;
}

.footer {
	text-align: center;
	position: fixed;
	bottom:0;
	width: 100%;
	height:7vh;
	background-color: #777;
	color:white;
	font-family: 'Raleway',sans-serif;
	font-size: 30px;
	letter-spacing: 5px;
	/*padding: 5px;*/
	z-index: 25;
	font-weight: 900;
	box-shadow: 0 0 5px #444;
}

.row.drugGridRow {
    margin-left: 0px;
    margin-right: 0px;
}
.drugGridCell {
    padding: 5px;
}

div#completeMessage {
    position: fixed;
    z-index: 5;
    text-align: center;
    width: 300px;
    font-family: 'Raleway',sans-serif;
    font-size: 20px;
    background: #333;
    padding: 30px;
    color: white;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div#challengeInfoBar {
    background: #22A7F0;
    color: white;
    text-align: center;
    padding: 10px;
    overflow: auto;
    background: linear-gradient(269deg, #22a7f0, #19b5fe);
    background-size: 400% 400%;
}

.challengeInfoText {
    font-family: raleway;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}

div#challengeCompleteMessage {
    position: fixed;
    z-index: 50;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: 'Raleway',sans-serif;
    font-size: 20px;
    background: #333;
    padding: 60px;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 30px;
}

#challenge_complete_btn {
    background: #22A7F0;
    border-radius: 5px;
    margin-top: 20px;
    top: 100%;
}

#challenge_complete_btn:focus {
  outline:none;
}

img#challengeCompleteLogo {
    width: 150px;
    margin-bottom: 20px;
}
button#inner_challenge_complete_btn {
    background: inherit;
    outline: none;
    border-radius: 5px;
    border: none;
    width: 100%;
}

button#inner_challenge_complete_btn:focus {
    background: rgb(108, 122, 137);
    outline: none;
    border-radius: 5px;
    border: none;
    width: 100%;
}

div#finishedPlayNewRoundButton:focus {
    outline: none;
    border: none;
    background: #777;
}
div#finishedPlayNewRoundButton:hover {
    cursor: pointer;
}
div#finishedPlayNewRoundButton {
    background: #22A7F0;
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
}

div#finishedBackToMenuButton:focus {
    outline: none;
    border: none;
    background: #777;
}
div#finishedBackToMenuButton:hover {
    cursor: pointer;
}
div#finishedBackToMenuButton {
    background: #22A7F0;
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
}

#cssload-pgloading {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#cssload-pgloading:after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}
#cssload-pgloading .cssload-loadingwrap {position:absolute;top:45%;bottom:45%;left:25%;right:25%;}
#cssload-pgloading .cssload-bokeh {
    font-size: 97px;
    width: 1em;
    height: 1em;
    position: relative;
    margin: 0 auto;
    list-style: none;
    padding:0;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#cssload-pgloading .cssload-bokeh li {
    position: absolute;
    width: .2em;
    height: .2em;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#cssload-pgloading .cssload-bokeh li:nth-child(1) {
    left: 50%;
    top: 0;
    margin: 0 0 0 -.1em;
    background: rgb(255,255,255);
    transform-origin: 50% 250%;
    -o-transform-origin: 50% 250%;
    -ms-transform-origin: 50% 250%;
    -webkit-transform-origin: 50% 250%;
    -moz-transform-origin: 50% 250%;
    animation: 
        cssload-rota 1.3s linear infinite,
        cssload-opa 4.22s ease-in-out infinite alternate;
    -o-animation: 
        cssload-rota 1.3s linear infinite,
        cssload-opa 4.22s ease-in-out infinite alternate;
    -ms-animation: 
        cssload-rota 1.3s linear infinite,
        cssload-opa 4.22s ease-in-out infinite alternate;
    -webkit-animation: 
        cssload-rota 1.3s linear infinite,
        cssload-opa 4.22s ease-in-out infinite alternate;
    -moz-animation: 
        cssload-rota 1.3s linear infinite,
        cssload-opa 4.22s ease-in-out infinite alternate;
}

#cssload-pgloading .cssload-bokeh li:nth-child(2) {
    top: 50%; 
    right: 0;
    margin: -.1em 0 0 0;
    background: rgb(108,122,137);
    transform-origin: -150% 50%;
    -o-transform-origin: -150% 50%;
    -ms-transform-origin: -150% 50%;
    -webkit-transform-origin: -150% 50%;
    -moz-transform-origin: -150% 50%;
    animation: 
        cssload-rota 2.14s linear infinite,
        cssload-opa 4.93s ease-in-out infinite alternate;
    -o-animation: 
        cssload-rota 2.14s linear infinite,
        cssload-opa 4.93s ease-in-out infinite alternate;
    -ms-animation: 
        cssload-rota 2.14s linear infinite,
        cssload-opa 4.93s ease-in-out infinite alternate;
    -webkit-animation: 
        cssload-rota 2.14s linear infinite,
        cssload-opa 4.93s ease-in-out infinite alternate;
    -moz-animation: 
        cssload-rota 2.14s linear infinite,
        cssload-opa 4.93s ease-in-out infinite alternate;
}

#cssload-pgloading .cssload-bokeh li:nth-child(3) {
    left: 50%; 
    bottom: 0;
    margin: 0 0 0 -.1em;
    background: rgb(255,60,57);
    transform-origin: 50% -150%;
    -o-transform-origin: 50% -150%;
    -ms-transform-origin: 50% -150%;
    -webkit-transform-origin: 50% -150%;
    -moz-transform-origin: 50% -150%;
    animation: 
        cssload-rota 1.67s linear infinite,
        cssload-opa 5.89s ease-in-out infinite alternate;
    -o-animation: 
        cssload-rota 1.67s linear infinite,
        cssload-opa 5.89s ease-in-out infinite alternate;
    -ms-animation: 
        cssload-rota 1.67s linear infinite,
        cssload-opa 5.89s ease-in-out infinite alternate;
    -webkit-animation: 
        cssload-rota 1.67s linear infinite,
        cssload-opa 5.89s ease-in-out infinite alternate;
    -moz-animation: 
        cssload-rota 1.67s linear infinite,
        cssload-opa 5.89s ease-in-out infinite alternate;
}

#cssload-pgloading .cssload-bokeh li:nth-child(4) {
    top: 50%; 
    left: 0;
    margin: -.1em 0 0 0;
    background: rgb(119,119,119);
    transform-origin: 250% 50%;
    -o-transform-origin: 250% 50%;
    -ms-transform-origin: 250% 50%;
    -webkit-transform-origin: 250% 50%;
    -moz-transform-origin: 250% 50%;
    animation: 
        cssload-rota 1.98s linear infinite,
        cssload-opa 6.04s ease-in-out infinite alternate;
    -o-animation: 
        cssload-rota 1.98s linear infinite,
        cssload-opa 6.04s ease-in-out infinite alternate;
    -ms-animation: 
        cssload-rota 1.98s linear infinite,
        cssload-opa 6.04s ease-in-out infinite alternate;
    -webkit-animation: 
        cssload-rota 1.98s linear infinite,
        cssload-opa 6.04s ease-in-out infinite alternate;
    -moz-animation: 
        cssload-rota 1.98s linear infinite,
        cssload-opa 6.04s ease-in-out infinite alternate;
}







@keyframes cssload-rota {
    from { }
    to { transform: rotate(360deg); }
}

@-o-keyframes cssload-rota {
    from { }
    to { -o-transform: rotate(360deg); }
}

@-ms-keyframes cssload-rota {
    from { }
    to { -ms-transform: rotate(360deg); }
}

@-webkit-keyframes cssload-rota {
    from { }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes cssload-rota {
    from { }
    to { -moz-transform: rotate(360deg); }
}

@keyframes cssload-opa {
    0% { }
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-o-keyframes cssload-opa {
    0% { }
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-ms-keyframes cssload-opa {
    0% { }
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-webkit-keyframes cssload-opa {
    0% { }
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-moz-keyframes cssload-opa {
    0% { }
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}