@import 'https://fonts.googleapis.com/css?family=Raleway:300,500,900';

* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
	background-image: url("/mvc/public/images/m_blur.png");
	 background-size:60vh 20vh;
	 background-repeat: no-repeat;
	 background-position: center;
}

/*****************HEADER******************/

button {
	border:none;
    background: transparent;
}

#app_header {
    display: block;
    position:fixed;
    top:0;
    width:100%;
    height:65px;
    background:#777;
    text-align: center;
    box-shadow: 0 0 5px #444;
	z-index: 10;
}

.back{
	position: fixed;
	left:10px;
}

#app_header button{
    background: transparent;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    font-size: 30px;
	margin: 7px 0 0 0;
    color:white;
    border: 1px lightblue solid;
	width: 45px;
    border-radius: 4px;
	padding: 2px;
}

/*****************BODY*************/
.app_content {
	margin-top: 65px;
	width: 100%;
}

#app_body{

}

/*************Content***************/

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 2px;

}

p#donedone {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    color: #2ECC71;
    margin-top: 20vh;

}

.shine {
    position: absolute;
    top: -70px;
    left: -25px;
    width:100px;
    height:100px;
    border-radius: 50px;

    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 150%); /* Chrome10+,Safari5.1+ */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 150%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1.5)), color-stop(100%,rgba(255,255,255,0))); /*     Chrome,Safari4+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 150%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 150%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 150%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.columns {
  columns: 3;
}

  .highlight {
    background: yellow;
  }


.active{background-color:red;}

.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  transition: all linear 0.5s;
  top:-200px;
  left: 200px;
}
.animate-hide {

  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}


button.btnBlue  {
    background: #3071A9;
    color:white;
    font-family: 'Raleway',sans-serif; 
    font-weight: 600;
    font-size: 12px;
    width:20vw;
   	height: 19vh; 
    text-align: center;   
	text-overflow: ellipsis;
    white-space: initial;
    word-wrap: break-word;
    transition: all 0.3s ease 0s;
}

.drugGridCell {
    background-color: rgb(108, 122, 137);
}

/**************Foooter************/
.footer {

}